/*Reset everything*/
* {
    color: white;
}

/*bg image*/
body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    padding: 0;
}

/*opacity layer*/
#site {
    background-color: rgba(0,0,0,0.4);
    min-width: 100vw;
    min-height: 90vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
    margin: 0;
    padding: 0;
}

/*middle container*/
#main-container {
    min-height: 30vh;
    min-width: 20vw;
    max-width: 80vw;
    max-height: 70vh;
    margin: 0vh auto 0 auto;
    background-color: rgba(0,0,0,0.6);
    overflow: auto;
    border-radius: 10px;
}

#navbar a {
    text-decoration: none;
}

#navbar ul {
    padding: 0px;
    margin: 0px;
}

.button {
    padding-top: 5px;
    display: inline-block;
    list-style: none;
    border-bottom: solid 2px aqua;
    border-radius: 3px;
    width: 19%;
}

@media screen and (max-width:600px) {
    .button {
        width: 32%;
    }

    #main-container {
        max-width: 90vw;
    }
}

.button:hover {
    background-color:rgba(241, 94, 74, 0.507);
}

.button.active {
    border-bottom: solid 2px rgb(138, 42, 42);
}

#navbar {
    text-align: center;
    font-size: 24px;
    margin: 0px;
    border: 0px;
}

.content {
    text-align: center;
    font-size: 12pt;
    margin: 0px 10px;
}

.branding {
    text-align: center;
    font-size: 16px;
}

#main-footer {
    display: block;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 16px;
    background: rgba(0,0,0,0.4);
    padding: 0px;
    margin: 0px;
}

#main-footer hr {
    min-width: 20vw;
    max-width: 80vw;
    margin: 0px auto;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}